/build/
bot.pem
*.swp
node_modules
/backgammon/_site
.DS_Store
__pycache__
/source/*_gd.rst
/source/12_articles/.ipynb_checkpoints/
/source/life.xml
/.ipynb_checkpoints/
bus/bus
/demin.dev/
/source/life/
