[Unit]
Description=Reader extractor socket

[Socket]
ListenStream=/run/reader.sock
SocketUser=www-data
SocketGroup=www-data
SocketMode=0660
RemoveOnStop=true

[Install]
WantedBy=sockets.target
