[Unit]
Description=Reader extractor API socket

[Socket]
ListenStream=/run/reader/reader.sock
SocketUser=reader
SocketGroup=www-data
SocketMode=0660
DirectoryMode=0755
TriggerLimitIntervalSec=0

[Install]
WantedBy=sockets.target
