[Unit]
Description=Reader extractor API
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=reader
Group=reader
WorkingDirectory=/opt/reader/
ExecStart=/opt/reader/reader
ReadWritePaths=/var/www/reader/p

NoNewPrivileges=yes
UMask=0077
RemoveIPC=yes

ProtectSystem=strict
ProtectHome=yes
PrivateTmp=yes
PrivateDevices=yes

ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes

ProtectClock=yes
ProtectHostname=yes

ProtectProc=invisible
ProcSubset=pid

LockPersonality=yes
MemoryDenyWriteExecute=yes
RestrictSUIDSGID=yes
RestrictNamespaces=yes
RestrictRealtime=yes

CapabilityBoundingSet=
AmbientCapabilities=
SystemCallArchitectures=native
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
