[Unit]
Description=bus daemon
After=network.target

[Service]
Type=simple
User=bus
Group=bus
WorkingDirectory=/home/bus/bus/
ExecStart=/home/bus/bus/run.sh
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
