name: Build docs

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13'
          cache: 'pip'

      - name: Set up Javascript
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'npm'
          cache-dependency-path: backgammon/package-lock.json

      - name: Install
        run: |
          sudo apt-get install graphviz
          grep pip== requirements.txt | xargs python -m pip install
          make install

      - name: Release
        run: |
          make clean build gitconfig export push master || exit 0
